/* Import Variables */
@import '@/scss/variables.scss';


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    background-color: white;
    font-size: $font-size;
}

h1,h2,h3,h4,h5, input {
    font-family: $primary-font;
}

.full-width {
    width: 100%;
}

.container {
    width: 1270px;
    margin: 0 auto;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.debug {
    border: 1px solid red;
}


@media screen and (max-width: $responsive) {
    body {
        background-color: blue
    }
}